.venv/
**/.venv/
**/__pycache__/
**/*.pyc
**/.pytest_cache/
frontend/node_modules/
frontend/dist/
backend/track_data/
backend/storage/
backend/.env
/.env
/runtime/
*.log
backend/track_modul/
backend/data/app.db
backend/data/app.db-shm
backend/data/app.db-wal

/work/
/output/

.DS_Store
**/.DS_Store

/models/
/.env.*
!/.env.docker.example
*.db
*.db-shm
*.db-wal
